.carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .carousel-fade .carousel-item.active,
  .carousel-fade .carousel-item-next.carousel-item-start,
  .carousel-fade .carousel-item-prev.carousel-item-end {
    opacity: 1;
    z-index: 1;
  }
  